<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{#if message}}
    <p class="error">{{message}}</p>
{{/if}}

<a href="/auth/signup">Sign up</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<br>
<a href="/rooms/create">Create a new room!</a>
<a href="/rooms/list">Rooms list</a>